@import url('https://fonts.googleapis.com/css2?family=Share&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main-cdu{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.dois-cdu{
    background-color: rgb(255, 127, 223);

    line-height:0; /* correção para IE (arg!) */
    width:0;
    height:0;
    border: solid;
    border-color: #fff #fff #2B3542 #2B3542;
    border-width: 0vh 270px 100vh;
    padding-left: 100px;
}

.triangulo-cdu{
    /* background-color: rgb(55, 0, 255); */

    width: 1px;
    height: 1px;
    border: solid 420px transparent;
    border-bottom: solid 320px #00DEA2;
    border-right-width: 117.5px;
    border-top: none;
    transform: rotate(180deg);

    position: relative;
    right: 277.5px;

}

.sec-cdu{
    width: 100%;
    height: 100%;
    /* background-color: rgb(195, 19, 19); */

    position: relative;
    right: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ctn-cdu{
    width: 100%;
    height: 80%;
    /* background-color: black; */
}

.form-cdu{
    width: 165%;
    height: 100%;
    /* background-color: blue; */

    position: relative;
    right: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputs-cdu{
    height: 60%;
    width: 100%;
    /* background-color: brown; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.h1-cdu{
    text-align: center;
    font-size: 30px;
    font-family: staatliches;
    font-weight: normal;
}

.inp-cdu{
    height: 15%;
    width: 40%;

    border-radius: 10px;
    border: 3px solid #00DEA2;

    padding-left: 10px;

    font-family: Share;
    font-size: 17px;
}

.inp-cdu::placeholder{
    color: black;
}

.btn-cdu{
    height: 7%;
    width: 30%;

    border-radius: 10px;
    border: 3px solid #2B3542;
    background-color: white;

    font-size: 20px;
    font-family: share;

    transition: 0.3s;
}

.btn-cdu:hover{
    border-color: #00DEA2;
    color: #00DEA2;
}